.info {
    background-color: #1a1b21;
    width: 317px;
    border-radius: 10px 10px 0 0;
}

.name {

    color: #ffff;
    font-weight: bold;
    text-align: center;
    margin-bottom: -15px;
}

.job {
    color: #F3BF99;
    text-align: center;
    margin-bottom: 5px;
}

.website {
    color: #ffff;
    margin-left: 35%;
}

.mailbutton {
    margin-left: 35px;
    margin-top: 15px;
    margin-right: 17px;
}

.about, .interests {
    background-color: #1a1b21;
    width: 317px;
    padding-top: 10px;
    padding-bottom: 1px;
}

.title {
    color: #ffff;
    font-weight: bold;
    margin-left: 35px;
}

.text {
    width: 247px;
    margin-left: 35px;
    line-height: 150%;
    color: #ffff;
}

.footer {
    background-color: #161619;
    width: 317px;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: space-around;
    height: 64px;
}

.icon {
    width: 25px;
    height: 25px;
    margin-top: 19px;
}